<ion-view class="workBoxDetail" hide-nav-bar="true" hide-tabs="true">
    <ion-content>
        <div class="title4">
            <div class="arrow fl"><a ui-sref="tabs.home"><i class="icon ion-chevron-left"></i></a></div>
            <div class="icons fr"><a><img class="sharePic fl" ng-click="openModalshare()" src="images/share-7.png"></a><img ng-click="addOne()" class="goodPic fl" ng-src="{{pic}}"></div>
        </div>
        <div class="top">
            <h2 class="fl">京剧故事主题图标</h2>
            <div class="right fr">
                <i class="eye"><img src="images/yanjing3.png"><span>75</span></i>
                <i class="dianzan"><img src="images/dianzan-4.png"><span class="span">{{number}}</span></i>
            </div>
            <div class="clear"></div>
        </div>
        <div class="people">
            <img src="images/shezhi07.png">
            <p><span>李雷</span>1512期UI视觉设计师班2班</p>
            <div class="clear"></div>
        </div>
        <div class="content">
            <img src="images/1457602_01.png">
            <p>取消</p>
        </div>
    </ion-content>
</ion-view>