
#homework .fly{background:url(../images/23.png) no-repeat left top;background-size: cover;font-family: "微软雅黑";height:100%;}
#homework .fly .bg{height:100%;}
#homework .fly .bg h1{font-size:2.4rem;color:#082355;padding-top:20%;text-align: center;line-height:15px;}
#homework .fly .bg p{font-size:1.6rem;color: #1d3462;text-align: center;padding-top:4.2%}
#homework .fly .bg a{font-size:1.6rem;color:#606060;margin-left:28%;margin-top:5.2%}
#homework .fly .bg 	a span{color: #17aeb9;font-size:3.6rem;padding:0 3.6%;}
			@media only screen and (min-width: 480px)  {
				html{font-size: 90%;}
			}
#homework .fly .list{position:absolute;bottom:-275%;}
#homework .fly .text{background:#19adb9;color:white;}
#homework .fly .share{background: #fccb19;margin-right:4.7%;color:white;}
#homework .fly .box_button button{padding:0 12.7%;margin-left:4.7%;}
#homework .button{margin-left:4.7%;border-radius:10px;}
#homework .save{display: inline-block;width:8rem;height:3rem;background:#000;color:#fff;position:absolute;
	bottom:-100%;left:50%;transform: translateX(-50%);border-radius: 5px;line-height:3rem;text-align: center;opacity: 0.6;z-index:100;}