<ion-view class="activity" hide-nav-bar="true">
    <ion-content>
        <div class="title3">
            <div class="arrow fl"><a ui-sref="tabs.home"><i class="icon ion-chevron-left"></i></a></div>
            <div class="icons fr"><a><img class="sharePic fl" ng-click="openModalshare()" src="images/share-7.png"></a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="activitySlide">
            <ion-slide-box auto-play="true" slide-interval="1500" does-continue="true">
                <ion-slide><a ui-sref="tabs.activity"><img src="images/ship.png"></a></ion-slide>
                <ion-slide><a ui-sref="tabs.activity"><img src="images/ship.png"></a></ion-slide>
                <ion-slide><a ui-sref="tabs.activity"><img src="images/ship.png"></a></ion-slide>
                <ion-slide><a ui-sref="tabs.activity"><img src="images/ship.png"></a></ion-slide>
            </ion-slide-box>
        </div>
        <div class="main1" style="border-bottom:1px solid gray">
            <h3>海报创意设计</h3>
            <h5>带你开拓思维和想法</h5>
            <div class="content">
                <div class="left fl"><img src="images/dingwei.png"> 火星时代 杏石口路81号</div>
                <div class="right fl"><img src="images/times.png"> 5-24 16:00-18:00</div>　　
            </div>
        </div>
        <div class="main1">
            <h3>海报创意设计</h3>
            <h5>带你开拓思维和想法</h5>
            <h5>地址：北京市海淀区杏石口路81号 火星时代</h5>
            <h5>时间：2016.5.14　16:00-18:00</h5>
        </div>
    </ion-content>
</ion-view>