<ion-view ng-controller="communityCtrl" hide-nav-bar="true">
	<ion-content>
		<!--内容部分-->
		<div class="lx_pic1 ion-item" ng-repeat="product in products">
			<img ng-src="{{product.img}}">
			<div class="lx_model"></div>
			<div class="lx_ideas" ui-sref="tabs.community.goTopDet">
					<h4>{{product.title}}</h4>
					<h5>{{product.content}}</h5>
			</div>
		</div>
		<!--上拉刷新-->
		<ion-infinite-scroll on-infinite="infinite()" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>