<ion-view hide-nav-bar="true" hide-tabs="true">
    <ion-content>
        <div class="act_bar">
            <div ui-sref="tabs.community.goTop" class="button button-icon ion-ios-arrow-back hea_ac hea_bac"></div>
            <div class="hea_ac notice">GGtop</div>
        </div>
        <div class="marg_top">
            <video src="http://player.youku.com/player.php/sid/XMTUyNTE1MjU1Ng==/v.swf" controls width="100%" height="40%">

            </video>
            <div class="row responsive-sm">
                <div class="col">
                    <h1 style="display: inline-block;
                border-bottom:1px #2e2e2e dashed ;">
                        创意设计
                    </h1>
                    <p>
                        关注创意领域的实践和动态。在这里，您既可体验鲜
                        活而精彩的创意案例，聆听专家对创意难点问题的解
                        答，又可掌握实用工具，并紧扣前沿，与广大经理人
                        和精英切磋创意之道。
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>



