<ion-view ng-controller="activityCtrl" hide-nav-bar="true">
	<ion-content>
	<div class="sli_ad marg_top" ng-click="run()">
    	<div class="sli_pic">
			<a ui-sref="tabs.community.activityDet"><img src="images/slide_1.jpg"></a>
			<div ng-show="isShow" class="ac_model"></div>
        </div>
		<div class="pos_infor">
			<h2>海报创意设计</h2>
			<p>海子团队讲解想法，带你卡开拓思维和想法</p>
			<p class="sign">
				<span class="hxsd"><i><img src="images/location.png"></i>火星时代</span>
				<span><i><img src="images/clock.png"></i>{{oYear+"-"+month+"-"+day}}</span>
			</p>
		</div>
	</div>
	<div class="sli_ad sli_mo">
		<div class="sli_pic">
			<a ui-sref="tabs.community.activityDet"><img src="images/slide_1.jpg"></a>
			<div ng-show="isShow"  class="ac_model"></div>
		</div>
		<div class="pos_infor">
			<h2>海报创意设计</h2>
			<p>海子团队讲解想法，带你卡开拓思维和想法</p>
			<p class="sign">
				<span class="hxsd"><i><img src="images/location.png"></i>火星时代</span>
				<span><i><img src="images/clock.png"></i>{{oYear+"-"+month+"-"+day}}</span>
			</p>
		</div>
	</div>
	</ion-content>
</ion-view>