<ion-view ng-controller="activityCtrl" hide-nav-bar="true" hide-tabs="true">
	<ion-content>
	<div class="act_bar">
		<div ui-sref="tabs.community.activity" class="button button-icon ion-ios-arrow-back hea_ac hea_bac"></div>
		<div class="hea_ac notice">活动通知</div>
		<div ng-click="openModalshare()" class="button button-icon ion-ios-compose-outline hea_copo"></div>
	</div>
	<div class="sli_ad">
		<div>
			<a href=""><img src="images/slide_1.jpg"></a>
		</div>
		<div class="pos_infor">
			<h2>海报创意设计</h2>
			<p>海子团队讲解想法，带你卡开拓思维和想法</p>
			<p class="sign">
				<span class="hx_ar"><i><img src="images/location.png"></i>
					火星时代<em class="addr">杏石口路81号</em></span>
				<span><i><img src="images/clock.png"></i>5-15 16:00-18:30</span>
			</p>
		</div>
	</div>
	<div class="intro">
		<h2>简介</h2>
		<p>海子团队讲解想法，带你卡开拓思维和想法</p>
		<p>地址：北京市海淀区杏石口路81号    火星时代</p>
		<p>时间：2016.5.15   16：00-18：30</p>
	</div>
	</ion-content>
</ion-view>
	

