
<!--名字
		<div class="header">
			<img src="img/我的成绩_03.png" />
			<h1>李雷</h1> <span>总排名：11</span>
			<p>班级：1603期UI视觉设计师1班</p>
			<a>作业提交率 ：100%</a><i>考勤率 ：97%</i>
		</div>-->
<ion-view hide-nav-bar="true" id="person">
		<div class="list list_header scroll-content"  style="margin-bottom:0;" >
		<div class="item item-avatar item-text-wrap">
            <img src="images/我的成绩_03.png">
            <h2 class="">李雷               <span class="all_span">总排名：11</span></h2>
            <p class="">班级：1603期UI视觉设计师1班<br>作业提交率：<span>100%　</span>考勤率：<span>97%</span></p>
            <i></i>
        </div>
        </div>
        <div class="pic_1">
            <h2><img src="images/icon-grade.png"/>专业成绩</h2>
        	<canvas height="153" id="grade" ui-sref="homework"></canvas>
        </div>
        <div class="pic_2" ui-sref="quality">
            <h2><img src="images/mysuzhi.png"/>职业素质分</h2>
            <div class="quxxian">
                <span></span>
            </div>
        </div>
        <div class="pic_3">
            <h2><img src="images/fit.png"/>击败了85%的同学</h2>
            <canvas height="150" id="fit"></canvas>
        </div>        
        <div class="pic_4" ui-sref="tabs.home">
        	<img src="images/12313213123.png" />
        </div>
        
</ion-view>
