
<ion-view hide-nav-bar="true" id="homework">
	<ion-content class="fly" >
		<div class="bg">
			<h1>李雷</h1>
			<p>在移动平台图标设计课中</p>
			<a>击败了<span>95%</span>的同学</a>
		</div>
		<!--<div class="box_button">
                <button type="submit">分享</button>
                <button type="submit">保存</button>
            </div>-->
		<div class="list button-bar we_btn">
			<i class="button ion-share text" ng-click="openModal()"> 分享</i>
			<i class="button ion-ios-paper-outline share" ng-click="showTxt()"> 保存</i>
		</div>
		<span class="save" ng-show="panduan">已保存...</span>
	</ion-content>
</ion-view>
